# this file overrides nx.json
# @see nx-cloud.env.sample for inline doc comments
# @see https://nx.dev/nx-cloud/reference/config

# read/write token for accessing nx cloud (note: this variable is an alias of NX_CLOUD_AUTH_TOKEN)
NX_CLOUD_ACCESS_TOKEN="XXXX"

# encrypt artifacts
# NX_CLOUD_ENCRYPTION_KEY="XXXX"

# set for debugging new ci environments
# NX_VERBOSE_LOGGING=true

# disable timeout (nx cloud requests timeout after 10s by default)
# set to true in case of hanging builds with nx cloud...
NX_CLOUD_NO_TIMEOUTS=true
